<div class="row">
  <div class="col-md-4 col-xs-4"></div>
  <div class="col-md-4 col-xs-4 center-block">
    <div class="row ">
      <div>
        <h2 class="text-center">שואל ומשיב תוכנת עזר לשינון וחזרה </h2>

        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onClickSginIn()">היכנס לחשבונך</button>
        <button type="button" class="btn btn-default btn-lg btn-block">צור חשבון חדש</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-4"></div>
</div>
