/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-theme.min.css';
@font-face {
    font-family: EFT_Lampner;
    src: url(fonts/EFT_Lampner.ttf);
  }

body{
    direction: rtl;
    font-family: EFT_Lampner;
}

