<div class="row">
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
      <form>
        <div class="form-group">
          <label for="name">שם משתמש:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name"
          ><br>
          <label for="email">דוא"ל</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email"><br>
          <label for="pwd">סיסמא:</label>
          <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password" name="password"
          ><br>
          <label for="pwd">הקלד שוב את הסיסמא:</label>
          <input type="password" class="form-control" id="pwd2" [(ngModel)]="user.password2" name="password2" (keyup)="onKeyPas2($event)"
          ><br>
          <p style="color: red; font-weight: bold;">{{message}}</p>
          <div class="row">
            <div class="col-md-4 col-xs-4">
            </div>
              <div class="col-md-4 col-xs-4">
                 <button  type="submit" class="btn btn-default btn-block" (click)="onCreateAnAccount()">צור חשבון</button>
  
              </div>
             <div class="col-md-4 col-xs-4">
                 <!-- <a [routerLink]="['/MainPanelComponent']"><button type="submit" class="btn btn-default btn-block"><<</button></a>   -->
              </div>
            </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>
  