<div class="row">
  <div class="col-md-4 col-xs-4"></div>
  <div class="col-md-4 col-xs-4 center-block">
    <div class="row ">
      <div>
        <div>
        <a [routerLink]="['/SginIn']"><button type="button" class="btn btn-primary btn-lg btn-block">היכנס לחשבונך</button></a><br>
        <a [routerLink]="['/newUser']"><button type="button" class="btn btn-default btn-lg btn-block">צור חשבון חדש</button></a>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-4"></div>
</div>
