<div class="row">
  <div class="col-md-4 col-xs-4"></div>
  <div class="col-md-4 col-xs-4 center-block">
    <div class="row ">
      <div>
        <a [routerLink]="['/AskAQuestion']"><button type="button" class="btn btn-primary btn-lg btn-block">שאל שאלה</button></a><br>
        <button type="button" class="btn btn-default btn-lg btn-block">ענה לשאלות</button>
        <p>במאגר קיימים כעת {{amountOfQuestions}} שאלות</p>
        <p>במאגר קיימים כעת {{amountOfQuestions}} שאלות הממתינות לטיפול</p>
        <div class="col-md-6 col-xs-6">
                <button type="submit" class="btn btn-default btn-block">צא מחשבונך</button>
            </div>
            <div class="col-md-6 col-xs-6">
               <a [routerLink]="['/MainPanelComponent']"><button type="submit" class="btn btn-default btn-block"><<</button></a> 
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-4"></div>
</div>