<div class="row">
	<div class="col-md-4 col-xs-4">
	</div>

	<div class="col-md-4 col-xs-4 center-block">
		<div class="row ">
			<div class="form-group">
				<label class="radio-inline">רגיל
					<input type="radio" name="inlineRadioOptions" value="option1" checked>
				  </label>
				  <label class="radio-inline">אמריקאי
					<input type="radio" name="inlineRadioOptions" (change)="handleChange()" value="option2">
				  </label><br><br>
				  <h3>{{category}} {{page}}</h3>
				<label for="ask">שאלה:</label>
				<textarea class="form-control" rows="5" id="ask" [(ngModel)]="question"></textarea>
			</div>
			
			<div class="form-group">
				<label for="ans">תשובה:</label>
				<textarea class="form-control" rows="5" id="ans" [(ngModel)]="answer"></textarea>
			</div>
		</div>
		<div class="col-md-6 col-xs-6">
			<button (click)="Question()" type="submit" class="btn btn-default btn-block">שמור</button>
		</div>
		<div class="col-md-6 col-xs-6">
		</div>
		<div class="col-md-4 col-xs-4">
		</div>
	</div>

	<div class="col-md-4 col-xs-4" style="direction: ltr; width: 20%; margin-top: 5%;">
	</div>