<div class="row">
	<div class="col-md-4 col-xs-4"></div>
	<div class="col-md-4 col-xs-4 center-block">
		<div class="row ">
			<div class="form-group">
				<label for="ask">שאלה:</label>
				<textarea class="form-control" rows="5" id="ask" #question></textarea>
			</div>
			<div class="form-group">
				<label for="ans">תשובה:</label>
				<textarea class="form-control" rows="5" id="ans" #answer></textarea>
			</div>
		</div>
		<div class="col-md-6 col-xs-6">
			<button type="submit" class="btn btn-default btn-block" (click)="addQuestion(question,answer)">שמור</button>
		</div>
		<div class="col-md-6 col-xs-6">
			<a [routerLink]="['/AskOrAnswer']"><button type="submit" class="btn btn-default btn-block"><<</button></a>
		</div>
		<div class="col-md-4 col-xs-4"></div>
	</div>